[data-bs-theme=blue] {
    color-scheme: dark light;
    --bs-body-color: #d4e2f2;
    --bs-body-color-rgb: 212, 226, 242;
    --bs-body-bg: #000045;
    --bs-body-bg-rgb: 0, 0, 69;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(212, 226, 242, 0.75);
    --bs-secondary-color-rgb: 212, 226, 242;
    --bs-secondary-bg: #000060;
    --bs-secondary-bg-rgb: 0, 0, 96;
    --bs-tertiary-color: rgba(212, 226, 242, 0.5);
    --bs-tertiary-color-rgb: 212, 226, 242;
    --bs-tertiary-bg: #000050;
    --bs-tertiary-bg-rgb: 0, 0, 80;
    --bs-primary-text-emphasis: #6b8aff;
    --bs-secondary-text-emphasis: #8a8aff;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #d4e2f2;
    --bs-primary-bg-subtle: #000030;
    --bs-secondary-bg-subtle: #000040;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #000060;
    --bs-dark-bg-subtle: #000020;
    --bs-primary-border-subtle: #0000ff;
    --bs-secondary-border-subtle: #4040ff;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #8080ff;
    --bs-dark-border-subtle: #000060;
    --bs-heading-color: inherit;
    --bs-link-color: #6b8aff;
    --bs-link-hover-color: #8a8aff;
    --bs-link-color-rgb: 107, 138, 255;
    --bs-link-hover-color-rgb: 138, 138, 255;
    --bs-code-color: #ccccff;
    --bs-highlight-color: #d4e2f2;
    --bs-highlight-bg: #03664d;
    --bs-border-color: #000080;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
  }