[data-bs-theme="red"] {
  color-scheme: dark light;
  --bs-body-color: #f2d4d4;
  --bs-body-color-rgb: 242, 212, 212;
  --bs-body-bg: #450000;
  --bs-body-bg-rgb: 69, 0, 0;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(242, 212, 212, 0.75);
  --bs-secondary-color-rgb: 242, 212, 212;
  --bs-secondary-bg: #600000;
  --bs-secondary-bg-rgb: 96, 0, 0;
  --bs-tertiary-color: rgba(242, 212, 212, 0.5);
  --bs-tertiary-color-rgb: 242, 212, 212;
  --bs-tertiary-bg: #500000;
  --bs-tertiary-bg-rgb: 80, 0, 0;
  --bs-primary-text-emphasis: #ff6b6b;
  --bs-secondary-text-emphasis: #ff8a8a;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #f2d4d4;
  --bs-primary-bg-subtle: #300000;
  --bs-secondary-bg-subtle: #400000;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #600000;
  --bs-dark-bg-subtle: #200000;
  --bs-primary-border-subtle: #ff0000;
  --bs-secondary-border-subtle: #ff4040;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #ff8080;
  --bs-dark-border-subtle: #600000;
  --bs-heading-color: inherit;
  --bs-link-color: #ff6b6b;
  --bs-link-hover-color: #ff8a8a;
  --bs-link-color-rgb: 255, 107, 107;
  --bs-link-hover-color-rgb: 255, 138, 138;
  --bs-code-color: #ffcccc;
  --bs-highlight-color: #f2d4d4;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #800000;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
  --bs-primary: #b42929;
  --bs-primary-rgb: 174, 37, 37;
}
