---
import Layout from "@/shared/layouts/Layout.astro";
import ThemeSelector from "@/shared/components/ThemeSelector.astro";
import HueRotator from "@/shared/components/HueRotator.astro";
import Modal from "@/shared/components/Modal.astro";
const title = "Bienvenido";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <Modal />
    <ThemeSelector />
    <HueRotator />

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Example textarea</label
      >
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
      ></textarea>
    </div>
  </main>
</Layout>

<style></style>
